<div class="container">
  <h1 style="text-align: center;">Password Generator</h1>
  <hr>
  <div class="input-group">
    <span class="input-group-text">Enter Password Length (E.g. 5/10/8)</span>
    <input type="text" class="form-control" aria-label="Input Number" autocomplete="off"
    #length_pwd
    (input)="inputLength(length_pwd.value)"
    >
  </div>
  <br>


  <input type="checkbox" class="btn-check" id="btn-check-4" autocomplete="off" (change)="useLetters()">
  <label class="btn btn-outline-warning btn-sm" for="btn-check-4" style="margin-right: 3%;">Use Letters</label>
  
  <input type="checkbox" class="btn-check" id="btn-check-1" autocomplete="off" (change)="useNumbers()">
  <label class="btn btn-outline-info btn-sm" for="btn-check-1" style="margin-right: 3%;">Use Numbers</label>
 
  <input type="checkbox" class="btn-check" id="btn-check-2" autocomplete="off" (change)="useSymbols()">
  <label class="btn btn-outline-success btn-sm" for="btn-check-2" style="margin-right: 3%;">Use Special Characters</label>
<br>
<br>
<div class="text-center">
  <button class="btn btn-outline-dark btn-lg" [disabled]="!passLen" (click)="generatePassword()">Generate Password</button>

</div>
<br>
<div class="alert alert-primary text-center" role="alert" *ngIf="password" >
  <strong>Your Password: {{password}}</strong> 
</div>



</div>